
#root{
  position:relative;
}

.app {
 text-align: center;
  text-transform: uppercase;
  max-width: 1000px;
  margin: auto;
  margin-bottom:40px;
}

.main {
  margin:10%;
  max-height: calc(100vh - 200px);
  overflow: scroll;
}

.main button:focus, .main button:active {
  background-color: #FFFDE7;
  color: #000000;
}

.entryButton{
   margin-top:20vh;
}

.sumItems{
    border-radius: 5px;
    width: 250px;
    height: 50px;
    margin: 0 auto ;
    margin-top: 2vh;
}